<br><br>
<!-- 
<mat-card>
    <mat-card-header>
        <mat-card-title>NGC 4424</mat-card-title>
        <mat-card-subtitle>Subtitle</mat-card-subtitle>
    </mat-card-header>

    <section>
        <mat-tab-group mat-align-tabs="center" [@.disabled]="true">
            <mat-tab label="Event Horizon Telescope"><img matCardImage
                    src="https://chandra.si.edu/photo/2022/h1821/h1821.jpg" @fade></mat-tab>
            <mat-tab label="X-ray Wide Field"><img matCardImage
                    src="https://chandra.si.edu/photo/2022/h1821/h1821_w22.jpg" @fade></mat-tab>
            <mat-tab label="X-ray Close-up"><img matCardImage
                    src="https://chandra.si.edu/photo/2022/h1821/h1821_w33.jpg"></mat-tab>
            <mat-tab label="First"><img matCardImage src="https://chandra.si.edu/photo/2022/h1821/h1821_w33.jpg">
            </mat-tab>
            <mat-tab label="First"><img matCardImage src="https://chandra.si.edu/photo/2022/h1821/h1821_w33.jpg">
            </mat-tab>
            <mat-tab label="First"><img matCardImage src="https://chandra.si.edu/photo/2022/h1821/h1821_w33.jpg">
            </mat-tab>
            <mat-tab label="First"><img matCardImage src="https://chandra.si.edu/photo/2022/h1821/h1821_w33.jpg">
            </mat-tab>
        </mat-tab-group>
    </section>
    <mat-card-content>
    </mat-card-content>
</mat-card> -->

<!-- <mat-card>
    <mat-card-header>
        <mat-card-title>NGC 4424</mat-card-title>
        <mat-card-subtitle>Subtitle</mat-card-subtitle>
    </mat-card-header>

    <section>
        <mat-tab-group mat-align-tabs="center" [@.disabled]="true">
            <mat-tab label="First"><img matCardImage src="https://chandra.si.edu/photo/2022/h1821/h1821_w33.jpg">
            </mat-tab>
            <mat-tab label="First"><img matCardImage src="https://chandra.si.edu/photo/2022/h1821/h1821_w33.jpg">
            </mat-tab>
            <mat-tab label="First"><img matCardImage src="https://chandra.si.edu/photo/2022/h1821/h1821_w33.jpg">
            </mat-tab>
            <mat-tab label="First"><img matCardImage src="https://chandra.si.edu/photo/2022/h1821/h1821_w33.jpg">
            </mat-tab>
        </mat-tab-group>
    </section>
    <mat-card-content>
    </mat-card-content>
</mat-card>  -->

    <ng-container matColumnDef="nome">
        <mat-card-header>
            <mat-card-title>Catalogação de galaxias</mat-card-title>
            <div mat-card-avatar class="avatar-galaxy"></div>
            <mat-card-subtitle>Catálogos e atlas de galáxias
                recursos na internet
                observatórios virtuais
                coordenadas
                nomes das galáxias
                unidades úteis</mat-card-subtitle>
        </mat-card-header>
        <div *ngIf="blackHoles$ | async as galaxias; else loadingTemplet">
            <table mat-table [dataSource]="galaxias" class="mat-elevation-z8" matSort matSortActive="posteddate">

                <mat-card>
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell class="caracterText" *matCellDef="let element">

                        <mat-card-header>
                            <mat-card-title>{{element.nome}}</mat-card-title>
                            <mat-card-subtitle>{{element.constelacao}}</mat-card-subtitle>
                        </mat-card-header>

                             <section>
                                <mat-tab-group  mat-align-tabs="center" [@.disabled]="true">
                                    <mat-tab label="RaioX"><img matCardImage src="{{element.raioX}}">
                                    </mat-tab>
                                    <mat-tab label="Optico"><img matCardImage src="{{element.raioXInfravermelho}}">
                                    </mat-tab>
                                    <mat-tab label="opticoInfraRed"><img matCardImage src="{{element.optico}}">
                                    </mat-tab>
                                    <mat-tab label="raioXInfraRed"><img matCardImage
                                            src="{{element.opticoInfravermelho}}">
                                    </mat-tab>
                                </mat-tab-group>
                            </section>
                </ng-container>
            </mat-card>
            
                <tr mat-header-row *matHeaderRowDef="displayedObserveColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedObserveColumns;"></tr>
            </table>
        </div>
        <ng-template #loadingTemplet>
            <div class="loading-spinner">
                <mat-spinner value="10" strokeWidth="3" diameter=120></mat-spinner>
            </div>
        </ng-template>
    </ng-container>

 