<br><br>

<mat-card>
    <mat-card-header>
        <mat-card-title>NGC 4424</mat-card-title>
        <mat-card-subtitle>Subtitle</mat-card-subtitle>
    </mat-card-header>

     <section>
        <mat-tab-group mat-align-tabs="center" [@.disabled]="true">
            <mat-tab label="First"><img matCardImage src="https://chandra.si.edu/photo/2022/h1821/h1821.jpg" @fade ></mat-tab>
            <mat-tab label="First"><img matCardImage src="https://chandra.si.edu/photo/2022/h1821/h1821_w22.jpg"@fade></mat-tab>
            <mat-tab label="First"><img matCardImage src="https://chandra.si.edu/photo/2022/h1821/h1821_w33.jpg"></mat-tab>
            <mat-tab label="First"><img matCardImage src="https://chandra.si.edu/photo/2022/h1821/h1821_w33.jpg"></mat-tab>
            <mat-tab label="First"><img matCardImage src="https://chandra.si.edu/photo/2022/h1821/h1821_w33.jpg"></mat-tab>
            <mat-tab label="First"><img matCardImage src="https://chandra.si.edu/photo/2022/h1821/h1821_w33.jpg"></mat-tab>
            <mat-tab label="First"><img matCardImage src="https://chandra.si.edu/photo/2022/h1821/h1821_w33.jpg"></mat-tab>
          </mat-tab-group> 
     </section>
    <mat-card-content>
     </mat-card-content>
</mat-card>

