mat-list-item {
    border-bottom: 0ch;
    font-size: 12px;
}

.mat-list-base,p .mat-list-item,
.mat-list-base .mat-list-option {
    display: block;
     align-items: center;
    align-content: center;
}

 