<mat-card style="text-align: center;">
    <mat-card-header>
        <mat-card-title>{{galaxias.nome}}</mat-card-title>
        <mat-card-subtitle>{{galaxias.constelacao}}</mat-card-subtitle>
    </mat-card-header>
        <p>Satelite natural : {{galaxias.magnitude}}
        <p>
        <p>Semieixo Maior : {{galaxias.declinacao}}
        <p>
        <p>Pressão Atmosferica : {{galaxias.distancia}}
        <p>
        <p>Massa do satelite natural : {{galaxias.desvioVermelho}}
        <p>
        <p>Periodo de rotação : {{galaxias.rotacao}}
        <p>
        <p>Periodo orbital : {{galaxias.dimensoes}}
        <p>
        <p>Inclinação : {{galaxias.raio}}
        <p>
        <p>Velocidade orbital media : {{galaxias.IdadeEstimada}}
        <p>
        <p>Velocidade orbital media : {{galaxias.massa}}
        <p>
        <p>Velocidade orbital media : {{galaxias.estrelas}}
        <p>
        <p>Velocidade orbital media : {{galaxias.coordenadas}}
        <p>
        <p>Velocidade orbital media : {{galaxias.descricao}}
            
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions align="start">
            <button mat-button (click)="fechar()">Fechar</button>
        </mat-card-actions>
</mat-card>