<mat-card class="card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Mapeador de galaxias e buracos negro</mat-card-title>
    <mat-card-subtitle>Uma ferramenta para identificação e classificação de galaxias e buracos negros
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/logo-home.svg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      O Mapper and galaxies usa a classificação de galáxias de modo organizavel e controlada isso não é um fim, mas sim
      um meio para um maior
      entendimento da física das galáxias.
    </p>
    <p>Na literatura, tem-se vários exemplos
      de áreas que através de bons métodos de classificação levaram a melhora no
      entendimento de determinado assunto o estudo das galáxias pode dar importantes dicas da origem e
      evolução do universo. Antes de 1920, a astronomia ainda não tinha certeza
      se galáxias eram sistemas separados da Via Láctea ou apenas um tipo de nébula
      que a integrava (HUBBLE, 1936). Isso é um exemplo do estado inicial
      que se encontra o estudo de galáxias e, explica porque, ainda hoje,
      existem estudos tentando realizar classificações básicas de galáxias
      (BALL, 2008). 
      </p>
      
      <p>
      O projeto Galaxy Zoo 2 que classificou em 2013 a morfologia
      de 304.122 galáxias, é um exemplo disso (WILLETT et al., 2013). Atualmente,
      um observatório pode capturar mais de dez mil imagens astronômicas por noite. O processo tradicional de análise é
      realizado por um humano especialista. Durante o processo, imagens que contém objetos de interesse, estrelas e
      galáxias,</p>

    <p>
      superfície. Mas como isso acontece?
      A definição mais simples de um buraco negro é um objeto tão denso que nem mesmo a luz pode escapar de sua
    </p>

    <p>
      O conceito de buraco negro pode ser entendido pensando em quão rápido algo precisa se mover para escapar da
      gravidade de outro objeto – isso é chamado de velocidade de escape. Formalmente, a velocidade de escape é a
      velocidade que um objeto deve atingir para "se libertar" da atração gravitacional de outro corpo.
    </p>
  </mat-card-content>
</mat-card>