<br>
<br>


<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src=" " alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <form [formGroup]="form">
            <mat-form-field>
                <input matInput type="date" formControlName="date" placeholder="Digite sua data">
            </mat-form-field>
        </form>
    </mat-card-actions>
</mat-card>