<br>
<br>
<mat-card *ngFor="let result of data" class="example-card">
  <mat-card-header>
    <mat-card-title>{{result.title}}</mat-card-title>
    <mat-card-subtitle>{{result.date}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{result.hdurl}}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{result.explanation}}
    </p>
  </mat-card-content><br><br>

  <form [formGroup]="form">
  <div class="center-content">
    <mat-form-field appearance="fill">
      <mat-label>Consulta a foto tirada em suas datas mais importantes.</mat-label>
      <input matInput formControlName="date" formControlName="date" type="date" placeholder="Ex. 2020-12-29">
    </mat-form-field>
  </div>
</form>

  <mat-card-actions>
    <button mat-flat-button (click)="ConsultForDatePhoto()"  name="date" color="accent">Consulta</button>
  </mat-card-actions>
</mat-card>