<br>
<br>
<mat-card *ngFor="let result of data" class="example-card">
  <mat-card-header>
    <mat-card-title>{{result.title}}</mat-card-title>
    <mat-card-subtitle>{{result.date}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{result.hdurl}}" alt="Photo {{result.date}}">
  <mat-card-content>
    <p>
      {{result.explanation}}
    </p>
  </mat-card-content><br><br>
  <form [formGroup]="form">
    <div class="center-content">
      <mat-form-field>
        <input matInput formControlName="date" placeholder="Digite a sua data" type="date">
      </mat-form-field>
      
        <button mat-button mat-raised-button (click)="ConsultForDatePhoto()" color="primary">
          Consultar
        </button>
    </div>
  </form>
</mat-card>