.card {
  max-width: 400px;
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}


.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

mat-card-title {
  font-size: 17px;
}

.avatar-galaxy {
  background-image: url('src/assets/img/galaxy-icon.png');
  background-size: cover;
}

mat-card-content {
  margin-right: 20px;
  margin-left: 10px;
}

img {
  border-radius: 10px;
}

/* configuração de zoom */
